<html ng-app="angularApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="dist/main.css" />
    
  </head>
	<body ng-controller="MainController">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
          <div class="btn btn-primary" ng-click="runGenius(0)">menu</div>
          
          <div class="btn btn-danger" style="float:right;" ng-click="reset()">reset</div>
        </div>
      </div>
    </nav>
    <article>
      <section class="buttons-container">
        <div ng-repeat="button in buttons" on-repeat-render="renderButtons()" class="button button-{{button.name}}" ng-click="clickGenius(button.name)"></div>
        <div id="score">{{breadcrumb.length}}</div>
      </section>

      <section class="repeat-buttons">
        <div class="btn btn-primary btn-repeat" ng-click="runGenius(0)">repeat</div>
        <div class="btn btn-default btn-repeat-missing" ng-click="runGenius(-1)">repeat missing</div>
      </section>

      <section class="breadcrumb">
        <!--<div ng-repeat="item in breadcrumb track by $index" class="btn btn-default button-{{item.name}}"></div>-->
      </section>
    </article>
   
   <script src="dist/main.js"></script>
   <script src="js/angularApp.js"></script>
   <script src="js/effects.js"></script>
  </body>
</html>