<html ng-app="angularApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="dist/main.css" />
    <script src="dist/main.js"></script>
  </head>
	<body ng-controller="MainController">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
          <div class="btn btn-primary" ng-click="runGenius(0)">menu</div>
          
          <div class="btn btn-danger" style="float:right;" ng-click="reset()">reset</div>
        </div>
      </div>
    </nav>

    <article class="buttons-container">
      <div ng-repeat="button in buttons" on-repeat-render="renderButtons()" class="button button-{{button.name}}" ng-click="clickGenius(button.name)"></div>
      <div id="score">{{breadcrumb.length}}</div>
    </article>

    <div>
      <div class="btn btn-primary" ng-click="runGenius(0)">repeat</div>
      <div class="btn btn-default" ng-click="runGenius(-1)">repeat missing</div>
    </div>


    <div class="panel panel-default">
      <div class="panel-body">
        <div ng-repeat="item in breadcrumb track by $index" class="btn btn-default button-{{item.name}}"></div>
      </div>
    </div>
   

    <script src="effects.js"></script>
    <script>
      angular.module('angularApp', [])
      .directive('onRepeatRender', function(){
        return {
          restrict: 'A',
          link: function(scope, element, attr){
            if(scope.$last){
                scope.$evalAsync(attr.onRepeatRender);
            }
          }
        }
      })
      .controller('MainController', function ($scope, $http) {
        var buttonsHandler = new ButtonsHandler();

        $scope.renderButtons = function(){
          buttonsHandler.renderButtons();
        };

        $scope.buttons = buttonsHandler.buttons;
       

        $scope.clickGenius = function(buttonName){
          buttonsHandler.pressButton(buttonsHandler.buttons[buttonName]);
        };

        $scope.clickGenius = function(buttonName){
          var button = buttonsHandler.buttons[buttonName];
          $scope.userBreadcrumb.push(button);

          if($scope.breadcrumb[$scope.userBreadcrumb.length -1].name === button.name){
            if($scope.userBreadcrumb.length === $scope.breadcrumb.length){
              //congrats
              $scope.nextGenius();
            }else{
              //helps if user takes too long to make next move
              nextMoveCancelationToken = window.setInterval(function(){
                if($scope.userBreadcrumb.length > 0){
                  var nextColor = $scope.breadcrumb[$scope.userBreadcrumb.length];
                  blinkButton(nextColor, 2);
               
                  
                }
              }, 3000)
            }
          }else{
            console.log('you fool');
            $scope.userBreadcrumb = [];
          }

        };

        $scope.nextGenius = function(){
          var nextGeniusButton = buttonsHandler.getRandomButton();
          $scope.breadcrumb.push(nextGeniusButton);
          $scope.runGenius(0);
        };

        $scope.reset = function(){
          $scope.breadcrumb =[];
          $scope.userBreadcrumb =[];
          $scope.nextGenius();
        };

        $scope.runGenius = function(i){
          var INTERVAL_TIME = 400;

          window.setTimeout(function(){
            if(i <= $scope.breadcrumb.length - 1){
              $scope.runGenius(i + 1);
               var button = $scope.breadcrumb[i];
               button.soundClick.load();
               button.soundClick.play();
               buttonsHandler.lightButton(button);
            }
           
            
          }, INTERVAL_TIME);

        };

     

         function getRandomInt(min, max) {
          return Math.floor(Math.random() * (max - min + 1)) + min;
        }

      });
      
    </script>
  </body>
</html>