
body{
  font-size: 3em;
}
article{
  position: relative;
  width:100%;
  float: left;
}
.button{
  width:50%;
  height: 400px;
  float: left;
  background: red;
}

.button-mini{
  width:8%;
  margin:2%;
  height:50px;
  float:left;
}

.button-green{
  background-color: green;
}
.button-yellow{
  background-color: yellow;
}
.button-red{
  background-color: red;
}
.button-blue{
  background-color: blue;
}

.button-green.on{
  background-color: white;
}
.button-yellow.on{
  background-color: white;
}
.button-red.on{
  background-color: white;
}
.button-blue.on{
  background-color: white;
}

#score{
  background-color: black;
  width:30%;
  height: 300px;
  color:white;
  position: absolute;
  top:30%;
  left:30%;
}